*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border:none;
    outline:none;
}

.Landing{
    padding-botton: 3rem;
    position:relative;
}
.part1{
    background-image: url(../assets/LandingBG.jpg);
    background-position: center;
    background-size: cover;
}