@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
.Login{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #333;
    gap:.5rem;
    filter: blur(10px);
    opacity: 0;
    transform: translateY(-5rem);
    position: fixed;
    animation:Popup 1000ms ease forwards;
    width:100%;
}

@keyframes Popup{
    from{}
    to{
        filter: blur(0);
        opacity: 1;
        transform: translate(0);
    }
}
.Login h1{
    text-align: center;
    color:#fff;
    font-family: 'Michroma';
}
.Login label {
    color:#fff;
    font-family: 'Michroma';
}
.Email, .Password{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.Login input[type="text"],.Login input[type="password"],.Login input[type="email"]{
    padding:.5rem;
    font-family: 'Michroma';
}
.Login button{
    background-color: #549DD2;
    color:#fff;
    padding:.5rem 0;
    font-family: 'Michroma';
}
.Form{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}